[submodule "social-deployment"]
	path = social-deployment
	url = git@github.com:citkane/social-deployment.git
[submodule "social-frontend"]
	path = social-frontend
	url = git@github.com:citkane/social-frontend.git
[submodule "social-images"]
	path = social-images
	url = git@github.com:citkane/social-images.git
[submodule "social-persistance"]
	path = social-persistance
	url = git@github.com:citkane/social-persistance.git
[submodule "social-pubsubProxy"]
	path = social-pubsubProxy
	url = git://github.com/citkane/social-pubsubProxy
[submodule "social-users"]
	path = social-users
	url = git://github.com/citkane/social-users
[submodule "social-activities"]
	path = social-activities
	url = git@github.com:citkane/social-activities.git
